#---------------------------------------------------------------------------------
# Basic material constants:
#---------------------------------------------------------------------------------

lattice_param=3.143				# BCC lattice parameter (units: Angstrom)
shear_modulus=161e9				# Elastic shear modulus of the material (units: Pa)
poisson_ratio=0.28				# Poisson's ratio of the material
core_width=0.5					# Dislocation core width parameter of the non-singular dislocation theory (units: b)
peierls_stress=2.03e9			# Peierls stress in formula for stress-dependent kink energy (units: Pa)

#---------------------------------------------------------------------------------
# Global simulation parameters:
#---------------------------------------------------------------------------------

simulation_steps=6000 		 # Number of simulation steps to execute
temperature=300		# The simulation temperature (units: K)
stress_total=1e9		#
stress_yz=300e6				# External stress tensor (units: Pa)
stress_xz=-3e6					# External stress tensor (units: Pa)
stress_xx=0
stress_yy=0
random_seed=1					# Seed value for random number generator (must be a positive integer)

#---------------------------------------------------------------------------------
# Dislocation parameters:
#---------------------------------------------------------------------------------

line_length=500				# Screw dislocation line length (units: b)
kink_width=25   				# The width of a single kink in the screw direction (units: b) 
kink_drag_coefficient=8.3e-5	# Controls the mobility of kink segments (units: Pa*seconds)

#---------------------------------------------------------------------------------
# Kink-pair nucleation parameters:
#---------------------------------------------------------------------------------

attempt_frequency=9.1e11			# Prefactor for kink-pair nucleation events (units: 1/seconds/b)
kpenergy_deltaH0=1.63			# Prefactor in formula for stress-dependent kink pair energy (units: eV)
kpenergy_p=0.86					# Exponent in formula for stress-dependent kink pair energy (no units)
kpenergy_q=1.69				# Exponent in formula for stress-dependent kink pair energy (no units)
kpwidth_l0=2.31				# Prefactor in formula for stress-dependent kink pair separation (units: b)
kpwidth_w0=2.02			# Parameter in formula for stress-dependent kink pair separation (no units)
kpwidth_p=0.5					# Exponent in formula for stress-dependent kink pair separation (no units)
kpwidth_q=0.15				# Exponent in formula for stress-dependent kink pair separation (no units)
kink_diffusivity_coeff=7.7e-10
#---------------------------------------------------------------------------------
# Advanced model parameters:
#---------------------------------------------------------------------------------

max_kink_motion_distance=40		# Maximum distance a kink segment may move within one simulation step (units: b)
num_events=1					# Number of Monte-Carlo nucleation events to generate per screw segment and kink direction.
enable_local_stress=1			# Enables/disables the calculation of local stresses (on top of external stress).
cross_kink_lock_distance=2.5	# Threshold kink-kink distance at which attraction/repulsion of kinks is determined (units: b)

#---------------------------------------------------------------------------------
# Output control parameters:
#---------------------------------------------------------------------------------

position_output_interval=1			# Controls how often the current dislocation position is printed to the position file.
position_file=dislocations.dat	# The output filename for dislocation position data.
vtk_output_interval=1				# Controls after how many simulation steps the dislocation configuration is periodically written to a VTK file.
vtk_output_file=dislocations_c.vtk	# The output filename for dislocation snapshots.
output_scaling_factor=2e-2				# Scaling applied to the Z coordinates when writing dislocation nodes to the VTK file.
verbosity=1								# The degree of output printed to the console.


nonschmid_a1 = 0.99
nonschmid_a2 = 2.3634
nonschmid_a3 = 4.0694
nonschmid_tc = 1.4528
point_defect_concentration = 0.03
point_defect_window_radius = 2
point_output_file=pointdefects_c.vtk
